<a class="product-block h-100" href="{% url 'product-detail' product.slug %}">
    <div class="card h-100">
        {% if product.images.count > 0 %}
            <img class="card-img" src="{{ product.images.first.image_file.url }}" alt="{{ product.name }}">
        {% endif %}
        <div class="card-body">
            <h2>{{ product.name }} <b style="color: rgb(255, 89, 0);">{% if product.is_used %} БУ {% else %} Новый {% endif%}</b> </h2>
            <hr>
            <p>
                {{ product.manufacturer.name }}
            </p>
        </div>
    </div>
</a>