{% extends 'layouts/base.html' %}
{% block content %}
    <section class="container">
        <div class="py-5"></div>
        <section class="section-bg">
            <div class="container">
                <div class="section-title">
                    <h2>Запрос успешно принят!</h2>
                    <p class="pb-3">Спасибо, в скором времени мы обработаем ваш запрос и свяжемся используя данные введенные вами в форме.</p>
                    <a class="d-inline-flex align-items-center" href="{% url 'category-list' %}">Вернуться в каталог <i class='bx bxs-right-arrow-alt'></i></a>
                </div>

            </div>
        </section>
    </section>
{% endblock content %}